<app-nav></app-nav>

<div class="container">
<h1 class="text-center" style="margin: 20px 0px"> Shopping Cart</h1>


<div class="table-wrapper-scroll-y my-custom-scrollbar">
    
  <table  class="table table-bordered table-striped ">
      <thead>
          <tr>
            <th >PRODUCTS</th>
            <th >PRICE</th>
            <th >QUANTITY</th>
            <th colspan="2">SUBTOTAL</th>
          </tr>
         </thead>
<tbody>
 <tr *ngFor="let productscart of productcart">
   
   <td >{{productscart.product.productName}}</td>
   <td >{{productscart.product.MSRP| currency:"USD":true:"2.2-2"}}</td>
   <td ><input (change)="addcart(productscart.product,$event.target.value)" class="form-control" style="width: 40%"  type="number" oninput="validity.valid||(value='');" min="1" [value]="productscart.quantity" ></td>
   <td >{{productscart.product.MSRP*productscart.quantity | currency:"USD":true:"2.2-2"}}</td>
   <td ><a  class="btn btn-danger" (click)="deleteproductos(productscart.product)"><i class="fa fa-trash"></i></a></td>

 </tr>

 
 
</tbody>
</table>
</div>

<table  class="table table-striped ">
    <tbody>
        <tr >
            <td colspan="2" class="total">TOTAL:</td>
            <td colspan="2" class="total">  {{cart.cartPrice|currency:"USD":true:"2.2-2"}}</td>
            <td></td>
            <td><a  class="btn btn-primary" >Continuar</a></td>
          </tr>
      </tbody>
</table>


</div>

<app-footer></app-footer>